@model Capstone02.Models.Parent

@{
    ViewData["Title"] = "Edit";
}
<hr />
<h3 style="text-align: center">Edit Employee Information</h3>
<hr />

<div class="container mt-6">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <label class="form-label">Parent's Name</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input asp-for="ParentName" class="form-control" />
                                <span asp-validation-for="ParentName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <label class="form-label">Contact Number</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input asp-for="ContactNumber" class="form-control" />
                                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <label class="form-label">Child</label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                                <span asp-validation-for="StudentId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12 d-flex justify-content-end">
                                <a asp-action="Index" class="btn btn-secondary mr-2">Back to List</a>
                                <input type="submit" value="Save Changes" class="btn btn-primary" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
