@page
@using Capstone02.Areas.Identity.Pages.Account;
@model LoginModel

@*@{
    Layout = "/Views/Shared/_Layout.cshtml";
}*@

<style>
    body {
        background-image: url("~/CoreUI/image/ICENHSLogo.png");
        background-size: cover;
        height: 100%;
        margin: 0px;
        width: 100%;
    }

    .card {
        border-radius: 15px;
        border-color: blue;
        border-width: .5px;
    }

    .slanted-background {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background: linear-gradient(navy 100%, transparent 50%); */
        z-index: -1;
        border: none;
    }

</style>

@* <img class="slanted-background"/> *@

@* <div class="slanted-background-alt"> </div> *@

<div class="mx-auto ">
    <img class="slanted-background" src="~/CoreUI/img/ICENHSLogin1.JPG" />
    <div class="row justify-content-center">
        
        <div class="col-4 mx-auto">
            
            <div class="card">
                <section class=" card-body">
                    <form id="account" method="post">
                        <h2 class="text-center">Login your account</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
							<label asp-for="Input.Email" class="form-label">Email</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
							<label asp-for="Input.Password" class="form-label">Password</label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />                            
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="checkbox mb-3 ml-4">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input custom-checkbox" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                        </div>
                        <div class="mt-3">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Don't have an account yet? Sign up.</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
