@model Capstone02.Models.PTAFee

@{
    ViewData["Title"] = "Edit";
}
<hr />
<h3 style="text-align: center">Edit Payment</h3>
<hr />

<div class="container mt-6">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <h6 class="form-label">Type</h6>
                    <input asp-for="Type" class="form-control" />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <h6 class="form-label">Amount</h6>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>

                <div class="row mt-4">
                            <div class="col-12 d-flex justify-content-end">
								<a asp-action="Index" class="btn btn-secondary mr-2">Back to List</a>
                                <input type="submit" value="Save Changes" class="btn btn-primary" />
                            </div>
                        </div>
					</form>
				</div>
			</div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
