@model Capstone02.Models.Parent


@{

    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f4f4f4;
    }

    nav {
        background-color: var(--color-default);
        color: white;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        nav img {
            max-height: 40px;
            margin-right: 10px;
        }

    .logout-icon {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .logout-text {
        margin-left: 5px;
    }

    table {
        width: 60%;
        margin: 20px auto;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid var(--color-default);
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: var(--color-default);
        color: white;
        text-align: center;
    }

    td {
        background-color: lightgray;
    }

    .highlight-paid {
        background-color: #00FF00;
        border-radius: 5px;
    }

    .highlight-not-paid {
        background-color: #E57373;
        border-radius: 5px;
    }

    .border-right {
        color: white;
    }

    .button-container {
        text-align: center;
        margin-top: 60px;
    }

    .action-button {
        padding: 10px 20px;
        background-color: var(--color-default); /* Use your desired button color */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .action-button:hover {
            background-color: #4d5569; /* Change to your desired hover color */
        }

    header {
        color: var(--color-default);
        text-align: left;
        padding: 30px 0;
    }

    h1 {
        font-size: 2.5em;
        margin: 10px 0;
    }

    p {
        font-size: 1.4em;
        margin: 0;
    }

    .child-dropdown {
        margin-top: 10px;
    }

    select {
        padding: 6px;
        font-size: 1em;
        border: 1px solid var(--color-default);
        border-radius: 5px;
        width: 190px;
    }

    label {
        font-size: 1.2em;
    }

    .display-box {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-default);
        color: white;
        padding: 10px;
        border-radius: 12px;
        text-align: center;
        width: 200px;
    }

        .display-box p1 {
            font-size: 1em;
        }

        .display-box p {
            font-size: 2em;
        }
</style>




<nav>
    <div>
        <img src="../Images/ICENHSLogo.png" alt="ICENHS Logo" />
        <span>ICENHS - PTA Fees Collection Management System (PTAFCMS)</span>
    </div>
    <partial name="_LoginPartial" />

</nav>

<header>
    <h1>Welcome!</h1>
    <p>@ViewBag.Parent.ParentName</p>
    <div class="child-dropdown">
        <label for="children">Child/ren:</label>
        <select id="children" name="children">
            <option value=@ViewBag.Parent.Student.FirstName selected>@ViewBag.Parent.Student.FirstName</option>
        </select>
    </div>
    <div class="display-box">
        <p1>Total Balance:</p1>
        <p>₱@ViewBag.TotalAmount </p>
    </div>
</header>
<div class="container">

    <div class="container-xl px-4 mt-12">
        <!-- Add the form element and set the asp-page attribute to the Create action -->
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div class="row">
                <div class="col-xl-12">
                    <table>
                        <thead>
                            <tr>
                                <th class="border-right">List of Fees</th>
                                <th>Amount</th>
                                <th>Pay</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var fee in ViewBag.PTAFeesList)
                            {
                                <tr>
                                    <td>@fee.Type</td>
                                    <td>₱@fee.Amount</td>
                                    <td>
                                        <input type="checkbox" name="payFee" value="@fee.Type">
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <p>Total Amount: ₱@ViewBag.TotalAmount</p>

            <div class="button-container">
                <input asp-for="ProfileImage" type="file" id="uploadImage" style="display:none;" accept=".jpg, .jpeg, .png" onchange="displayImage(this)">
                <label for="uploadImage" class="btn custom-btn">Upload new image</label>
                <!-- Add the submit button inside the form -->
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn custom-btn" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.querySelector('.btn-primary').addEventListener('click', function () {
        var selectedChild = document.getElementById("children").value;
        sessionStorage.setItem('selectedChild', selectedChild);
    });
</script>


<script>
    function displayImage(input) {
        var file = input.files[0];
        console.log('this is displayImage')
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('profileImage').src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    }
</script>
