@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Capstone02</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Capstone02.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    @if (SignInManager.IsSignedIn(User)) 
    {
    <button id="sidebarToggle" class="btn btn-dark">
        <i class='bx'>

        </i>
    </button>

    
        <!-- Sidebar (initially hidden) -->
        <div class="sidebar hidden">
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <i class='bx bxs-user-detail'></i> @UserManager.GetUserName(User)!
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Transactions" asp-action="Index">
                        <i class='bx bxs-receipt'></i> Transactions
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Employees" asp-action="Index">
                        <i class='bx bxs-group'></i> Employee
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Schools" asp-action="Index">
                        <i class='bx bxs-school'></i> School
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Parents" asp-action="Index">
                        <i class='bx bx-male-female'></i> Parent
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Students" asp-action="Index">
                        <i class='bx bxs-user-circle'></i> Student
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="PTAFees" asp-action="Index">
                        <i class='bx bxs-credit-card'></i> Fees
                    </a>
                </li>
            </ul>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial.cshtml" />
            </div>
        </div> 
    }
   
    <!-- Main content -->
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $("#sidebarToggle").click(function () {
                $(".sidebar").toggleClass("hidden");
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
