@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<header class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
  @*  <a class="navbar-brand" href="/#">
        <img class="navbar-brand-full" src="/img/brand/logo.svg" width="89" height="25" alt="CoreUI Logo">
        <img class="navbar-brand-minimized" src="/img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">
    </a>*@
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="/Home/Index">Dashboard</a>
        </li>
   
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <!--Profile Icon-->
        <li class="nav-item dropdown">
            @if (User.Identity.IsAuthenticated)
            {
                var currentUser = await UserManager.GetUserAsync(User);
                <a class="nav-link nav-link text-center d-flex align-items-center" data-toggle="dropdown" href="/#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="mx-2">@currentUser.UserName</span> <i class='bx bx-user-circle bx-burst-hover bx-sm'></i>
                </a>
            }
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>Account</strong>
                </div>
            @*    <a class="dropdown-item" href="/#">
                    <i class="fa fa-bell-o"></i> Updates
                    <span class="badge badge-info">42</span>
                </a>*@
                <a class="dropdown-item" href="/Reports/Index">
                    <i class="fa fa-envelope-o"></i> Messages
                    <span class="badge badge-success">@ViewBag.MessageCount</span>
                </a>
           
                <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="Profile">
                    <i class="fa fa-user"></i> Profile
                </a>

                <a class="dropdown-item" href="/#">
                    <i class="fa fa-wrench"></i> Settings
                </a>
          
                <div class="dropdown-divider"></div>
                    <form class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button class="bx bx-log-out bx-burst-hover" typeof="submit"></button> Logout
                    </form>
            </div>
        </li>'
        <!--/Profile Icon-->
    </ul>
    <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>